<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="GotoApi" stopProcessing="true">
					<match url="^api$" ignoreCase="true" />
					<action type="Rewrite" url="/api/index.php" appendQueryString="false" />
				</rule>
				<rule name="GotoAdd" stopProcessing="true">
					<match url="^api/add$" ignoreCase="true" />
					<action type="Rewrite" url="/api/add/index.php" appendQueryString="false" />
				</rule>
				<rule name="GotoDelete" stopProcessing="true">
					<match url="^api/delete$" ignoreCase="true" />
					<action type="Rewrite" url="/api/delete/index.php" appendQueryString="false" />
				</rule>
				<rule name="GotoEdit" stopProcessing="true">
					<match url="^api/edit$" ignoreCase="true" />
					<action type="Rewrite" url="/api/edit/index.php" appendQueryString="false" />
				</rule>
				<rule name="GotoLogin" stopProcessing="true">
					<match url="^api/login$" ignoreCase="true" />
					<action type="Rewrite" url="/api/login/index.php" appendQueryString="false" />
				</rule>
				<rule name="GotoRegister" stopProcessing="true">
					<match url="^api/register$" ignoreCase="true" />
					<action type="Rewrite" url="/api/register/index.php" appendQueryString="false" />
				</rule>
			</rules>
		</rewrite>		
	</system.webServer>
</configuration>